{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dustbin4Devs</title>
    <!--========== BOX ICONS ==========-->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--========== BOOTSTRAP ==========-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>
  <body>
    <div class="row g-4 bd-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Dustbin4Devs</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <form class="d-flex">
              <a class="btn btn-outline-light" type="submit" href="/pastetext"
                >Create New Paste</a
              >
            </form>
          </div>
        </div>
      </nav>
    </div>

    <!--WOrk container-->
    <div class="work__container bd-container p-5" style="background-color: whitesmoke;">
      <section class="home" id="home">
        <div class="home__container bd-grid">
          <div class="home__data">
            <h1 class="home__title">All my pastes</h1>
          </div>
        </div> 
      </section>
      <div class="row row-cols-1 g-4">
        {% for pastedtext in pastedtexts reversed %}
        <div class="col" style="padding: 20px 30px">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{pastedtext.created_at}}</h5>
              <p class="card-text">
                {{pastedtext.text|safe|truncatewords:20}}<a
                  href="/showtext/{{pastedtext.id}}"
                  >show more</a
                >
              </p>
              <a href="/deletetext/{{pastedtext.id}}" class="btn mt-2 me-5"
                >Delete</a
              >
              <a href="/renewexpiry/{{pastedtext.id}}" class="btn mt-2"
                >Renew</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--========== FOOTER ==========-->
    <footer class="footer section">
      <p class="footer__copy">
        <a class="btn btn-outline-dark" type="submit" href="/logout">Log out</a>
        <br /><br />&#169; 2022 Dustbin4Devs. Created with love for DEVS.
      </p>
    </footer>
  </body>
</html>
